Repository dicoded/free-cities, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, documentation

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - './*'

# Add 'test' label to any change to *.test.js files within the source dir
test:
  - 'src/**/*.test.*'

# Add 'source' label to any change to src files within the source dir
source:
- 'src/**/*'

# Add 'documentation' label to any any change to any files with /docs
documentation:
- 'docs/**/*'

Added blur to modal background, slaves now show in modal instead of new page, removed unneeded code
  src/components/arcology/Sidebar.svelte
  src/components/nav/Sidebar.svelte
  src/components/ui/Modal.svelte
  src/routes/slaves/Acquisition.svelte
  src/routes/slaves/Card.svelte
  src/routes/slaves/Create.svelte
  src/routes/slaves/Interact.svelte
  src/routes/slaves/Slaves.svelte
  src/routes/slaves/View.svelte
  src/ts/util/slave/generate.ts
Labels: source

Fixed bug where only females were generating
  src/stores/see.store.ts
Labels: source

Got JSON imports to work correctly, fixed generateNationality() not generating nationalities correctly
  src/data/names/name.ts
  src/data/nationalities/nationality.ts
  src/ts/util/slave/generate.ts
  tsconfig.json
Labels: repo, source

Minor code cleanup
  src/ts/util/slave/generate.ts
Labels: source

Changed default female name to Jane Doe
  src/ts/util/slave/generate.ts
Labels: source

Removed web-test-runner, updated package-lock.json
  package-lock.json
  package.json
  src/data/names/name.ts
  web-test-runner.config.js
Labels: repo, source

Temporarily disabled tests
  src/test/slave.test.ts
  src/ts/util/slave/generate.ts
Labels: test, source

Expanded face, shoulder, scar, and counter generation, tweaked health generation
  src/ts/util/slave/desc/nationality.ts
  src/ts/util/slave/generate.ts
Labels: source

Updated test
  src/test/slave.test.ts
Labels: test, source

Formatting
  src/ts/util/slave/generate.ts
Labels: source

Began adding generateEducation(), generateQuirks(), generateFlaws(), generateFetish(), generateAttraction(), and generateDrive()
  src/ts/classes/actor/Personality.ts
  src/ts/util/slave/generate.ts
Labels: source

Added basic personality generation
  src/ts/util/slave/generate.ts
Labels: source

Expanded generateQuirks() and generateFlaws()
  src/ts/util/slave/generate.ts
Labels: source

Expanded generateFetish()
  src/ts/util/slave/generate.ts
Labels: source

Expanded generateAttraction()
  src/ts/util/slave/generate.ts
Labels: source

Refactored generateAttraction()
  src/ts/util/slave/generate.ts
Labels: source

Minor number tweak
  src/ts/util/slave/generate.ts
Labels: source

Fixed female slaves not generating
  src/ts/util/slave/generate.ts
Labels: source

Refactored generateIntelligence()
  src/ts/util/slave/generate.ts
Labels: source

Formatting
  src/ts/util/extensions/number.extension.ts
Labels: source

Added normal distribution to age generation
  src/routes/intro/content/Age.svelte
  src/routes/intro/content/Content.svelte
  src/stores/global.store.ts
  src/ts/util/slave/generate.ts
Labels: source

Tweaked race generation numbers, added weights nationalities by race
  src/data/names/name.ts
  src/data/races/race.ts
  src/data/races/weights.json
  src/ts/util/slave/generate.ts
Labels: source

Formatting
  src/data/races/weights.json
Labels: source

Create test.yml
  .github/workflows/test.yml
Labels: none

Update test.yml
  .github/workflows/test.yml
Labels: none

Removed `npm ci`
  .github/workflows/test.yml
Labels: none

Readded `npm ci`
  .github/workflows/test.yml
Labels: none

Update integrate.yml
  .github/workflows/integrate.yml
Labels: none

Refactored and updated generateHair()
  src/ts/util/slave/generate.ts
Labels: source

Decoupled flaws and quirks
  src/ts/util/slave/generate.ts
Labels: source

Added sexuality accessors, replaced certain random numbers with gaussians
  src/ts/classes/actor/Actor.ts
  src/ts/util/slave/generate.ts
Labels: source

Replaced random numbers with gaussians
  src/ts/util/extensions/number.extension.ts
  src/ts/util/slave/generate.ts
Labels: source

Expanded generateEars()
  src/ts/util/slave/generate.ts
Labels: source

Added mouth generation
  src/ts/classes/body/face/Ears.ts
  src/ts/classes/body/face/Mouth.ts
  src/ts/util/slave/generate.ts
Labels: source

Removed unused impotr
  src/ts/util/slave/generate.ts
Labels: source

Minor generateMouth() refactor, replaced object with array in generateNationality()
  src/ts/util/slave/generate.ts
Labels: source

Replaced Number().guassian() calls with new guassian() function
  src/ts/classes/actor/Actor.ts
  src/ts/util/slave/generate.ts
Labels: source

Added generateMarkings()
  src/ts/util/slave/generate.ts
Labels: source

Replaced strings with enum members
  src/ts/util/slave/generate.ts
Labels: source

Minor reorganization
  src/ts/util/slave/generate.ts
Labels: source
