Repository dicoded/free-cities, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, documentation

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - './*'

# Add 'test' label to any change to *.test.js files within the source dir
test:
  - 'src/**/*.test.*'

# Add 'source' label to any change to src files within the source dir
source:
- 'src/**/*'

# Add 'documentation' label to any any change to any files with /docs
documentation:
- 'docs/**/*'

Updated package.json
  package.json
Labels: repo

Rearranged some buttons for more consistency
  src/routes/intro/content/Extreme.svelte
Labels: source

Renamed Main component to Body
  src/components/ui/Body.svelte
  src/routes/Main.svelte
  src/routes/events/Event.svelte
  src/routes/facilities/Arcade.svelte
  src/routes/facilities/Armory.svelte
  src/routes/facilities/Brothel.svelte
  src/routes/facilities/Cellblock.svelte
  src/routes/facilities/Club.svelte
  src/routes/facilities/Farmyard.svelte
  src/routes/facilities/Incubator.svelte
  src/routes/facilities/MasterSuite.svelte
  src/routes/facilities/Nursery.svelte
  src/routes/facilities/Pit.svelte
  src/routes/facilities/Schoolroom.svelte
  src/routes/facilities/ServantsQuarters.svelte
  src/routes/facilities/Spa.svelte
  src/routes/intro/arcology/Arcology.svelte
  src/routes/intro/character/Character.svelte
  src/routes/intro/content/Content.svelte
  src/routes/intro/difficulty/Difficulty.svelte
  src/routes/intro/trade/Trade.svelte
  src/routes/slave/Acquisition.svelte
  src/routes/slave/NewSlave.svelte
Labels: source

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Began adding slave interact cards
  src/routes/Main.svelte
  src/routes/routes.ts
  src/routes/slaves/Acquisition.svelte
  src/routes/slaves/Card.svelte
  src/routes/slaves/Create.svelte
  src/routes/slaves/Edit.svelte
  src/routes/slaves/Slaves.svelte
  src/routes/slaves/StartingCash.svelte
  src/routes/slaves/View.svelte
Labels: source

More work to slave interact cards
  src/components/ui/Link.svelte
  src/routes/routes.ts
  src/routes/slaves/Card.svelte
  src/routes/slaves/Interact.svelte
  src/routes/slaves/Slaves.svelte
  src/stores/active.store.ts
  src/stores/nav.store.ts
Labels: source

Minor formatting change
  src/routes/slaves/Card.svelte
Labels: source

Added View to Interact
  src/routes/slaves/Interact.svelte
Labels: source

Store address fixes
  src/routes/facilities/Clinic.svelte
  src/routes/facilities/Dairy.svelte
  src/routes/intro/character/Indulgence.svelte
Labels: source

Updated packages, updated tsconfig, added snowpack.config.js
  .gitignore
  package-lock.json
  package.json
  snowpack.config.js
  tsconfig.json
Labels: repo

Fixed package-lock
  package-lock.json
Labels: repo

Moved names file to names directory
  src/data/names/names.ts
Labels: source

Moved names file to names directory
  src/data/names/name.ts
Labels: source

Began refactoring modal
  src/components/ui/Modal.svelte
Labels: source

Removed unneeded properties
  src/components/ui/Modal.svelte
Labels: source

Removed unneeded code
  src/components/nav/Sidebar.svelte
  src/components/ui/Modal.svelte
  src/routes/settings/SettingsModal.svelte
Labels: source

Replaced modal with entirely new modal
  src/components/ui/Modal.svelte
  src/routes/settings/SettingsLink.svelte
  src/routes/settings/SettingsModal.svelte
  src/stores/modal.store.ts
Labels: source

Removed default styling, unneeded file
  src/components/ui/Modal.svelte
  src/routes/settings/SettingsLink.svelte
  src/routes/settings/SettingsModal.svelte
Labels: source

Styling changes
  src/components/ui/Modal.svelte
  src/routes/settings/Settings.svelte
  src/routes/settings/SettingsLink.svelte
Labels: source

Formatting for readability
  src/components/ui/Modal.svelte
Labels: source

Updated package.json
  package-lock.json
  package.json
  snowpack.config.json
Labels: repo

Added disabled cursor effect
  src/App.svelte
  src/components/ui/Button.svelte
  src/routes/intro/difficulty/Income.svelte
  src/routes/intro/difficulty/Level.svelte
  src/routes/intro/difficulty/Rate.svelte
Labels: source

Added nationality databases
  src/data/nationalities/amerindian.json
  src/data/nationalities/asian.json
  src/data/nationalities/black.json
  src/data/nationalities/indoAryan.json
  src/data/nationalities/latinAmerican.json
  src/data/nationalities/malay.json
  src/data/nationalities/middleEastern.json
  src/data/nationalities/mixedRace.json
  src/data/nationalities/nationality.ts
  src/data/nationalities/pacificIslander.json
  src/data/nationalities/semitic.json
  src/data/nationalities/southernEuropean.json
  src/data/nationalities/white.json
  src/ts/classes/body/nonphysical/Nonphysical.ts
  src/ts/util/slave/generate.ts
Labels: source

Added getRaceFromNationality(), simplified generateNationality()
  src/ts/classes/actor/Actor.ts
  src/ts/util/slave/generate.ts
Labels: source

Added skin description, tans
  src/ts/classes/body/nonphysical/skin/Markings.ts
  src/ts/classes/body/nonphysical/skin/Skin.ts
  src/ts/classes/body/nonphysical/skin/Tan.ts
  src/ts/util/slave/desc/nationality.ts
  src/ts/util/slave/desc/race.ts
  src/ts/util/slave/desc/skin.ts
Labels: source

Readded dark olive skin tone, updated freckled(), added getMelaninLevel(), reorganized skin tones from darkest to lightest
  src/routes/intro/character/Skin.svelte
  src/test/slave.test.ts
  src/ts/classes/body/nonphysical/skin/Skin.ts
  src/ts/util/color.ts
  src/ts/util/slave/desc/skin.ts
Labels: test, source

Updated package-lock.json
  package-lock.json
Labels: repo

Added nationality()
  .eslintrc.json
  src/ts/util/slave/desc/family.ts
  src/ts/util/slave/desc/mind.ts
  src/ts/util/slave/desc/nationality.ts
  src/ts/util/slave/desc/race.ts
  src/ts/util/slave/desc/skin.ts
Labels: repo, source

Fixed generateNationality(), disabled some code in generateRace() for now
  src/routes/slaves/View.svelte
  src/ts/util/extensions/array.extension.ts
  src/ts/util/slave/generate.ts
Labels: source

Added dark mode config option
  tailwind.config.js
Labels: repo

Linting fixes
  .eslintrc.json
  lint.sh
  src/ts/util/slave/generate.ts
Labels: repo, source

Formatting
  src/routes/slaves/View.svelte
Labels: source

Dark mode
  public/index.html
  src/App.svelte
  src/components/ui/Body.svelte
Labels: source

Replaced .btn class with .item, added .bg class
  src/App.svelte
  src/components/ui/Body.svelte
  src/components/ui/Button.svelte
  src/components/ui/Input.svelte
  src/components/ui/Link.svelte
  src/components/ui/Number.svelte
  src/components/ui/date/Datepicker.svelte
Labels: source

Added .rounded and .bordered classes
  src/App.svelte
  src/components/ui/Body.svelte
Labels: source

Moved hover attribute out of .item into new class
  src/App.svelte
  src/components/arcology/Sidebar.svelte
  src/components/nav/Sidebar.svelte
  src/components/ui/Button.svelte
  src/components/ui/Dropdown.svelte
  src/components/ui/Input.svelte
  src/components/ui/Link.svelte
  src/components/ui/Number.svelte
  src/components/ui/date/Datepicker.svelte
Labels: source

Minor color adjustment
  src/components/nav/Hamburger.svelte
Labels: source

Alignment fixes
  src/components/arcology/Sidebar.svelte
  src/components/nav/Sidebar.svelte
  src/routes/settings/SettingsLink.svelte
Labels: source

Removed rounded class due to conflicts
  public/index.html
  src/App.svelte
  src/components/ui/Body.svelte
  src/components/ui/Button.svelte
  src/components/ui/Choice.svelte
  src/components/ui/Modal.svelte
  src/routes/Start.svelte
  src/routes/intro/character/Acquisition.svelte
  src/routes/intro/difficulty/Income.svelte
  src/routes/intro/difficulty/Level.svelte
  src/routes/intro/difficulty/Rate.svelte
  src/routes/slaves/View.svelte
  src/ts/util/slave/desc/skin.ts
Labels: source

Renamed StartingCash to Cash, added typing to link store
  src/routes/slaves/Cash.svelte
  src/routes/slaves/Create.svelte
  src/routes/slaves/StartingCash.svelte
  src/stores/nav.store.ts
Labels: source
