Repository dicoded/free-cities, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, documentation

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - './*'

# Add 'test' label to any change to *.test.js files within the source dir
test:
  - 'src/**/*.test.*'

# Add 'source' label to any change to src files within the source dir
source:
- 'src/**/*'

# Add 'documentation' label to any any change to any files with /docs
documentation:
- 'docs/**/*'

playerGrandparents() bugfixes
  src/routes/slaves/View.svelte
  src/ts/classes/actor/Actor.ts
  src/ts/util/slave/desc/family.ts
Labels: source

face() bugfix
  src/ts/util/slave/desc/face.ts
Labels: source

Removed redundant nationality() call
  src/routes/slaves/View.svelte
Labels: source

Cleaned up weight() somewhat
  src/ts/util/slave/desc/size.ts
  src/ts/util/slave/desc/weight.ts
Labels: source

Added basic height()
  src/ts/util/slave/desc/height.ts
  src/ts/util/slave/desc/size.ts
  src/ts/util/slave/desc/weight.ts
Labels: source

Cleaned up height() and weight()
  src/test/slave.test.ts
  src/ts/util/extensions/number.extension.ts
  src/ts/util/slave/desc/height.ts
  src/ts/util/slave/desc/size.ts
  src/ts/util/slave/desc/weight.ts
  src/ts/util/slave/generate.ts
  src/ts/util/slave/heights.ts
Labels: test, source

Added basic Citizen class
  src/ts/classes/citizen/Citizen.ts
Labels: source

Formatting
  src/ts/util/slave/generate.ts
Labels: source

Replaced file with correct spelling
  src/data/names/dominiqais.json
  src/data/names/dominiquais.json
Labels: source

Fixed names
  src/ts/util/slave/name.ts
Labels: source

Fixed test
  src/test/heights.test.ts
Labels: test, source

Added generateBody() and generateActor()
  src/ts/util/slave/generate.ts
Labels: source

Updated .eslintrc
  .eslintrc
Labels: repo

Refactored generateCounter()
  src/test/heights.test.ts
  src/ts/util/slave/generate.ts
  src/ts/util/slave/heights.ts
Labels: test, source

More counter refactoring
  src/ts/util/slave/generate.ts
Labels: source

Added todo
  src/ts/util/slave/generate.ts
Labels: source

Refactored getMeanHeightBySex()
  src/ts/util/slave/heights.ts
Labels: source

Finally fixed new slave generation
  src/routes/slaves/View.svelte
  src/stores/active.store.ts
  src/ts/util/slave/generate.ts
Labels: source

getMeanHeightByBody() now always returns a value
  src/test/heights.test.ts
  src/ts/util/slave/generate.ts
  src/ts/util/slave/heights.ts
Labels: test, source

Actor names are now randomly generated
  src/ts/util/slave/generate.ts
Labels: source

Moved Aztec and Ancient Egyptian names
  src/ts/util/slave/name.ts
Labels: source

Added lips(), removed LipSize enum, disabled last name generator for now
  src/ts/classes/body/Body.ts
  src/ts/classes/body/face/Mouth.ts
  src/ts/util/slave/desc/mouth.ts
  src/ts/util/slave/generate.ts
Labels: source

Added teeth()
  src/ts/classes/actor/Actor.ts
  src/ts/classes/body/Body.ts
  src/ts/classes/body/face/Mouth.ts
  src/ts/util/slave/desc/mouth.ts
Labels: source

Replaced duplicate key with surnamesKeyed
  src/data/names/ancientEgyptian.json
  src/data/names/azerbaijani.json
  src/data/names/aztec.json
  src/data/names/belarusian.json
  src/data/names/bulgarian.json
  src/data/names/czech.json
  src/data/names/estonian.json
  src/data/names/georgian.json
  src/data/names/greek.json
  src/data/names/icelandic.json
  src/data/names/kazakh.json
  src/data/names/kyrgyz.json
  src/data/names/latvian.json
  src/data/names/lithuanian.json
  src/data/names/macedonian.json
  src/data/names/moldovan.json
  src/data/names/polish.json
  src/data/names/romanRevivalist.json
  src/data/names/russian.json
  src/data/names/slovak.json
  src/data/names/tajik.json
  src/data/names/turkmen.json
  src/data/names/ukrainian.json
  src/data/names/uzbek.json
  src/ts/util/slave/generate.ts
  src/ts/util/slave/name.ts
Labels: source

Added todo
  src/ts/util/slave/name.ts
Labels: source

Added taste()
  src/ts/util/slave/desc/mouth.ts
Labels: source

Added lip mods skeletons
  src/ts/util/slave/desc/mouth.ts
Labels: source

Added .hasLisp, lip and tongue piercings
  src/ts/classes/actor/Actor.ts
  src/ts/classes/body/Body.ts
  src/ts/util/slave/desc/mouth.ts
Labels: source

Reworked name getters and setters
  src/ts/classes/actor/Name.ts
Labels: source

Added lip tattoos
  src/ts/util/slave/desc/mouth.ts
Labels: source

Removed duplicate import
  src/ts/util/slave/desc/mouth.ts
Labels: source

Removed tongueTattoos
  src/ts/util/slave/desc/mouth.ts
Labels: source

Temporarily disable mouth brands and scars
  src/ts/util/slave/desc/mouth.ts
Labels: source

Moved mouth
  src/routes/slaves/View.svelte
Labels: source

Added oral skills, fuckdoll mouth
  src/ts/util/slave/desc/mouth.ts
  src/ts/util/slave/desc/skills.ts
Labels: source

Fixed documentation formatting
  src/ts/classes/body/lower/Waist.ts
Labels: source

Updated waist()
  src/ts/classes/body/lower/Waist.ts
  src/ts/util/slave/generate.ts
Labels: source

Updated generateHips()
  src/ts/util/slave/generate.ts
Labels: source

Updated generateButt()
  src/ts/util/slave/generate.ts
Labels: source

Moved quirks in Genetics constructor to new function
  src/ts/classes/body/nonphysical/Genetics.ts
  src/ts/util/slave/generate.ts
Labels: source
