Repository dicoded/free-cities, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, documentation

Added .boysOnly
  src/ts/classes/body/nonphysical/Genetics.ts
Labels: source

Quirks now use booleans instead of numbers
  src/ts/classes/body/nonphysical/Genetics.ts
  src/ts/util/slave/generate.ts
Labels: source

Fixed and updated tests
  src/test/slave.test.ts
  src/ts/util/slave/generate.ts
Labels: test, source

Fix
  src/ts/classes/body/Body.ts
Labels: source

Fixes
  src/routes/slaves/View.svelte
  src/ts/util/slave/desc/name.ts
Labels: source

Moved armwear() to clothing()
  src/routes/slaves/View.svelte
  src/ts/util/slave/desc/clothing.ts
Labels: source

Added clothing files
  src/data/clothing/armwear.json
  src/data/clothing/footwear.json
  src/data/clothing/full.json
  src/data/clothing/headwear.json
  src/data/clothing/legwear.json
  src/data/clothing/lower.json
  src/data/clothing/neckwear.json
  src/data/clothing/upper.json
Labels: source

Added some footwear items
  src/data/clothing/footwear.json
Labels: source

Refactoring
  src/ts/util/slave/generate.ts
Labels: source

Added getTeethType() and getAccent()
  src/ts/classes/body/face/Mouth.ts
  src/ts/util/slave/desc/mouth.ts
  src/ts/util/slave/generate.ts
Labels: source

nose() fix
  src/ts/util/slave/desc/nose.ts
Labels: source

Began reworking View
  src/components/ui/Header.svelte
  src/routes/slaves/View.svelte
  src/ts/classes/body/Body.ts
  src/ts/util/extensions/number.extension.ts
  src/ts/util/slave/desc/age.ts
Labels: source

Renamed /slaves to /actors
  src/routes/Main.svelte
  src/routes/actors/Acquisition.svelte
  src/routes/actors/Card.svelte
  src/routes/actors/Cash.svelte
  src/routes/actors/Create.svelte
  src/routes/actors/Edit.svelte
  src/routes/actors/Interact.svelte
  src/routes/actors/Slaves.svelte
  src/routes/actors/View.svelte
  src/routes/routes.ts
Labels: source

Moved View
  src/routes/actors/view/View.svelte
Labels: source

Began refactoring View
  src/routes/actors/Create.svelte
  src/routes/actors/Interact.svelte
  src/routes/actors/view/View.svelte
  src/routes/actors/view/devotion.svelte
  src/routes/actors/view/name.svelte
  src/routes/actors/view/title.svelte
  src/routes/actors/view/trust.svelte
  src/routes/routes.ts
Labels: source

Moved Devotion, Trust, Age, Birthday
  src/routes/actors/view/View.svelte
  src/routes/actors/view/age.svelte
  src/routes/actors/view/birthday.svelte
  src/routes/actors/view/devotion.svelte
  src/routes/actors/view/title.svelte
  src/ts/util/slave/generate.ts
Labels: source

Moved Education, Health, Height, Injuries, Intelligence, Weight
  src/routes/actors/view/View.svelte
  src/routes/actors/view/education.svelte
  src/routes/actors/view/health.svelte
  src/routes/actors/view/height.svelte
  src/routes/actors/view/injuries.svelte
  src/routes/actors/view/intelligence.svelte
  src/routes/actors/view/weight.svelte
Labels: source

Fixed bad age logic
  src/routes/actors/view/birthday.svelte
  src/ts/classes/body/nonphysical/Age.ts
  src/ts/util/slave/generate.ts
Labels: source

Removed $see.dicks
  src/routes/actors/Create.svelte
  src/routes/intro/content/Content.svelte
  src/routes/intro/content/Gender.svelte
  src/stores/see.store.ts
  src/ts/util/slave/generate.ts
Labels: source

Removed unneeded imports
  src/routes/actors/view/birthday.svelte
Labels: source

Shut linter up
  src/ts/classes/actor/Accessories.ts
  src/ts/util/slave/desc/armwear.ts
  src/ts/util/slave/desc/butt.ts
  src/ts/util/slave/desc/career.ts
  src/ts/util/slave/desc/chest.ts
  src/ts/util/slave/desc/clothing.ts
  src/ts/util/slave/desc/counter.ts
  src/ts/util/slave/desc/crotch.ts
  src/ts/util/slave/desc/genes.ts
  src/ts/util/slave/desc/hair.ts
  src/ts/util/slave/desc/hips.ts
  src/ts/util/slave/desc/intelligence.ts
  src/ts/util/slave/desc/legs.ts
  src/ts/util/slave/desc/limbs.ts
  src/ts/util/slave/desc/markings.ts
  src/ts/util/slave/desc/mouth.ts
  src/ts/util/slave/desc/muscles.ts
  src/ts/util/slave/desc/personality.ts
  src/ts/util/slave/desc/piercings.ts
  src/ts/util/slave/desc/pregnancy.ts
  src/ts/util/slave/desc/race.ts
  src/ts/util/slave/desc/scars.ts
  src/ts/util/slave/desc/score.ts
  src/ts/util/slave/desc/sex.ts
  src/ts/util/slave/desc/shoulders.ts
  src/ts/util/slave/desc/waist.ts
Labels: source

Began maybe setting up aliases
  snowpack.config.json
  tsconfig.json
Labels: repo

Got aliases to mostly work
  src/stores/global.store.ts
  src/test/number.extension.test.ts
  src/test/slave.test.ts
  src/ts/util/slave/desc/chest.ts
  tsconfig.json
Labels: repo, test, source

Replaced missed paths
  src/App.svelte
Labels: source

Replaced data paths with @data paths
  src/ts/util/slave/heights.ts
  src/ts/util/slave/name.ts
  src/ts/util/slave/nationality.ts
  src/ts/util/slave/race.ts
Labels: source

Replaced routes paths with @routes paths
  src/ts/util/view.ts
Labels: source

Replaced extensions paths with @extensions paths
  src/ts/util/slave/desc/fuckdoll.ts
  src/ts/util/slave/desc/health.ts
  src/ts/util/slave/generate.ts
Labels: source

Replaced missed paths
  src/routes/actors/Card.svelte
  src/routes/actors/Create.svelte
  src/routes/actors/Interact.svelte
  src/routes/actors/Slaves.svelte
  src/routes/actors/view/View.svelte
  src/routes/actors/view/age.svelte
  src/routes/actors/view/birthday.svelte
  src/routes/actors/view/devotion.svelte
  src/routes/actors/view/education.svelte
  src/routes/actors/view/health.svelte
  src/routes/actors/view/height.svelte
  src/routes/actors/view/injuries.svelte
  src/routes/actors/view/intelligence.svelte
  src/routes/actors/view/name.svelte
  src/routes/actors/view/title.svelte
  src/routes/actors/view/trust.svelte
  src/routes/actors/view/weight.svelte
  src/routes/intro/arcology/Location.svelte
  src/routes/intro/arcology/Target.svelte
  src/routes/intro/arcology/Terrain.svelte
  src/routes/intro/character/Acquisition.svelte
  src/routes/intro/character/Career.svelte
  src/routes/intro/character/Face.svelte
  src/routes/intro/character/Markings.svelte
  src/routes/intro/character/Race.svelte
  src/routes/intro/character/Sex.svelte
  src/stores/active.store.ts
  src/stores/actors.store.ts
  src/stores/arcology.store.ts
  src/stores/player.store.ts
  src/test/heights.test.ts
Labels: test, source

Replaced missed paths
  src/test/heights.test.ts
  src/test/slave.test.ts
  src/ts/classes/actor/Pronouns.ts
Labels: test, source

Replaced missed path
  src/ts/classes/body/upper/Belly.ts
Labels: source

Updated package.json
  package.json
Labels: repo

Updated changelog, minor documentation fixes
  docs/CHANGELOG.md
  docs/STYLE.md
  docs/TESTS.md
Labels: documentation

Fixed test paths
  jest.config.js
Labels: repo

Replaced activeSlave with slave as parameter
  src/routes/actors/Card.svelte
  src/routes/actors/Create.svelte
  src/routes/actors/Interact.svelte
  src/routes/actors/view/View.svelte
  src/routes/actors/view/age.svelte
  src/routes/actors/view/birthday.svelte
  src/routes/actors/view/devotion.svelte
  src/routes/actors/view/education.svelte
  src/routes/actors/view/health.svelte
  src/routes/actors/view/height.svelte
  src/routes/actors/view/injuries.svelte
  src/routes/actors/view/intelligence.svelte
  src/routes/actors/view/name.svelte
  src/routes/actors/view/title.svelte
  src/routes/actors/view/trust.svelte
  src/routes/actors/view/weight.svelte
  src/stores/active.store.ts
Labels: source

Upgraded to tailwind v2+, typing fixes
  package-lock.json
  package.json
  src/App.svelte
  src/components/nav/Sidebar.svelte
  src/components/ui/Toggle.svelte
  src/routes/actors/view/title.svelte
  src/ts/util/slave/race.ts
  tailwind.config.js
Labels: repo, source

Replaced CSS with Tailwind HTML
  public/index.html
  src/App.svelte
  src/components/nav/Hamburger.svelte
  src/components/nav/Sidebar.svelte
  src/components/ui/Toggle.svelte
Labels: source

Minor race fix
  src/routes/facilities/Facilities.svelte
  src/routes/intro/character/Race.svelte
Labels: source

Added basic arcology layout
  src/routes/Main.svelte
  src/routes/facilities/layout.svelte
  src/ts/classes/arcology/Arcology.ts
Labels: source

Moved layout, began adding cells
  src/routes/Main.svelte
  src/routes/facilities/Penthouse.svelte
  src/routes/facilities/layout/Cell.svelte
  src/routes/facilities/layout/layout.svelte
Labels: source

Moved facilities into layout
  src/routes/facilities/Apartment.svelte
  src/routes/facilities/Arcade.svelte
  src/routes/facilities/Armory.svelte
  src/routes/facilities/Brothel.svelte
  src/routes/facilities/Cellblock.svelte
  src/routes/facilities/Clinic.svelte
  src/routes/facilities/Club.svelte
  src/routes/facilities/Facilities.svelte
  src/routes/facilities/Farmyard.svelte
  src/routes/facilities/Incubator.svelte
  src/routes/facilities/MasterSuite.svelte
  src/routes/facilities/Nursery.svelte
  src/routes/facilities/Penthouse.svelte
  src/routes/facilities/Pit.svelte
  src/routes/facilities/Schoolroom.svelte
  src/routes/facilities/ServantsQuarters.svelte
  src/routes/facilities/Spa.svelte
  src/routes/facilities/layout/Cell.svelte
  src/routes/facilities/layout/layout.svelte
  src/routes/routes.ts
Labels: source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - './*'

# Add 'test' label to any change to *.test.js files within the source dir
test:
  - 'src/**/*.test.*'

# Add 'source' label to any change to src files within the source dir
source:
- 'src/**/*'

# Add 'documentation' label to any any change to any files with /docs
documentation:
- 'docs/**/*'
