Repository dicoded/free-cities, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, documentation

Reworked generateFlaws()
  src/ts/util/slave/generate.ts
Labels: source

Expanded and tweaked generateCounter()
  src/ts/util/slave/generate.ts
Labels: source

Refactored generateAttraction()
  src/ts/util/slave/generate.ts
Labels: source

Minor refactoring
  src/ts/util/slave/generate.ts
Labels: source

Replaced random number with gaussian
  src/ts/util/slave/generate.ts
Labels: source

Replaced raw gaussian call with gaussian() call
  src/ts/util/slave/generate.ts
Labels: source

Refactored generateSkin()
  src/ts/util/slave/generate.ts
Labels: source

Refactored getSkinColor()
  src/ts/util/slave/generate.ts
Labels: source

Added todo
  src/ts/util/slave/generate.ts
Labels: source

Somewhat fixed tests
  src/test/slave.test.ts
Labels: test, source

Replaced raw gaussian call with gaussian() call
  src/ts/util/slave/generate.ts
Labels: source

Fixed typo
  src/ts/util/slave/generate.ts
Labels: source

Updated generateCounter() and generateMouth()
  src/ts/util/slave/generate.ts
Labels: source

Refactored generateHair()
  src/ts/util/slave/generate.ts
Labels: source

Refactored generateEyes()
  src/ts/util/slave/generate.ts
Labels: source

Refactored generateMarkings()
  src/test/slave.test.ts
  src/ts/util/slave/generate.ts
Labels: test, source

Removed maximum age cap
  src/ts/util/slave/generate.ts
Labels: source

Expanded skin colors
  src/ts/util/slave/generate.ts
Labels: source

Minor reorganization
  src/ts/util/slave/generate.ts
Labels: source

Moved variable declarations
  src/ts/util/slave/generate.ts
Labels: source

Refactoring
  src/ts/util/slave/generate.ts
Labels: source

Tweaked getHairColor()
  src/ts/util/slave/generate.ts
Labels: source

Readded tests
  src/test/slave.test.ts
Labels: test, source

Set minimum age back to default
  src/stores/global.store.ts
Labels: source

Added imports for rest of files in /slave/desc
  src/routes/slaves/View.svelte
Labels: source

Added more description files
  src/routes/slaves/View.svelte
  src/ts/util/slave/desc/belly.ts
  src/ts/util/slave/desc/butt.ts
  src/ts/util/slave/desc/chest.ts
  src/ts/util/slave/desc/counter.ts
  src/ts/util/slave/desc/crotch.ts
  src/ts/util/slave/desc/ears.ts
  src/ts/util/slave/desc/face.ts
  src/ts/util/slave/desc/fetish.ts
  src/ts/util/slave/desc/flaws.ts
  src/ts/util/slave/desc/genes.ts
  src/ts/util/slave/desc/hair.ts
  src/ts/util/slave/desc/height.ts
  src/ts/util/slave/desc/hips.ts
  src/ts/util/slave/desc/intelligence.ts
  src/ts/util/slave/desc/markings.ts
  src/ts/util/slave/desc/mind.ts
  src/ts/util/slave/desc/mouth.ts
  src/ts/util/slave/desc/muscles.ts
  src/ts/util/slave/desc/nose.ts
  src/ts/util/slave/desc/personality.ts
  src/ts/util/slave/desc/quirks.ts
  src/ts/util/slave/desc/race.ts
  src/ts/util/slave/desc/scars.ts
  src/ts/util/slave/desc/sex.ts
  src/ts/util/slave/desc/shoulders.ts
  src/ts/util/slave/desc/waist.ts
  src/ts/util/slave/desc/weight.ts
  src/ts/util/slave/generate.ts
Labels: source

Split relationship and rivalry into seperate files
  src/routes/slaves/View.svelte
  src/ts/util/slave/desc/relationRival.ts
  src/ts/util/slave/desc/relationship.ts
  src/ts/util/slave/desc/rivalry.ts
Labels: source

Minor changes to relationship() and rivalry()
  src/ts/classes/actor/Rivalry.ts
  src/ts/util/slave/desc/relationship.ts
  src/ts/util/slave/desc/rivalry.ts
Labels: source

Added unused imports
  src/routes/slaves/View.svelte
Labels: source

Refactored skills()
  src/ts/util/slave/desc/skills.ts
Labels: source

Renamed function to match skill property
  src/ts/util/slave/desc/skills.ts
Labels: source

Minor text formatting
  src/ts/util/slave/desc/skills.ts
Labels: source

Refactored behavioralFlaws()
  src/routes/slaves/View.svelte
  src/ts/util/slave/desc/mind.ts
Labels: source

Moved behavioralFlaw() and sexualFlaw(), refactoring
  src/ts/util/slave/desc/flaws.ts
  src/ts/util/slave/desc/mind.ts
Labels: source

Formatted, added .eslintrc for /desc
  .eslintrc
  src/ts/util/slave/desc/.eslintrc
  src/ts/util/slave/desc/flaws.ts
  src/ts/util/slave/desc/mind.ts
  src/ts/util/slave/desc/nationality.ts
Labels: repo, source

Moved quirks into new file
  src/ts/util/slave/desc/mind.ts
  src/ts/util/slave/desc/quirks.ts
Labels: source

Refactored quirk functions
  src/ts/util/slave/desc/quirks.ts
Labels: source

Moved fetish()
  src/ts/util/slave/desc/fetish.ts
  src/ts/util/slave/desc/mind.ts
Labels: source

Refactored fetish()
  src/ts/util/slave/desc/fetish.ts
Labels: source

Minor text change
  src/ts/util/slave/desc/fetish.ts
Labels: source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - './*'

# Add 'test' label to any change to *.test.js files within the source dir
test:
  - 'src/**/*.test.*'

# Add 'source' label to any change to src files within the source dir
source:
- 'src/**/*'

# Add 'documentation' label to any any change to any files with /docs
documentation:
- 'docs/**/*'
